@model IEnumerable<Nozdormu.Server.Models.ReadUserModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create", "Create", "Users", null, new { @class = "btn btn-success" })

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Pattern</th>
                <th>AccountId</th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var user in Model)
        {
        <tr>
            <td>
                @user.Id
            </td>
            <td>
                @user.Name
            </td>
            <td>
                @user.Pattern
            </td>
            <td>
                @user.AccountId
            </td>
            <td>
                    @Html.ActionLink("Update", "Update", "Users",new {id = user.Id}, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", "Users",new {id = user.Id}, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }
    </table>
</div>