@using Nozdormu.Server.Extensions
@model IEnumerable<Nozdormu.Server.Models.ReadAccountModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create", "Create", "Accounts", null, new { @class = "btn btn-success" })

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Password</th>
                <th>Host</th>
                <th>Prefix</th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var account in Model)
        {
            <tr>
                <td>
                    @account.Id
                </td>
                <td>
                    @account.Name
                </td>
                <td>
                    @account.Password
                </td>
                <td>
                    @account.Host
                </td>
                <td>
                    @account.Prefix
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", "Accounts", new { id = account.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", "Accounts", HttpMethod.Delete, new { id = account.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
</div>

@section scripts
{
    <script>
        
    </script>
}